---
const pageTitle = 'Contact'
import '../styles/global.css'
import SiteLayout from '../layouts/SiteLayout.astro'
import { Image } from 'astro:assets'
import contractor from '../media/angel-contractor.jpeg'
---

<SiteLayout  pageTitle={pageTitle}>
	<div class="basic-grid">
		<Image class="contact-image" src={contractor} alt="Asian man smiling near angel wings" />
		<section class="contact-section">
			<div data-lang-key="contact-h1" class="contact-header">Contact Information</div>
			<p class="contact-email-data">
				<span data-lang-key="contact-email" class="contact-email-label">Email:</span>
				<a href="mailto:dreamhomerenovation2022@gmail.com?subject=Renovation%20Inquiry"
					><span class="contact-email-address">dreamhomerenovation2022@gmail.com</span></a
				>
			</p>
			<p class="contact-phone-data">
				<span data-lang-key="contact-phone" class="contact-phone-label">Phone:</span>
				<a href="tel:+1-626-202-2689"><span class="contact-phone-number">1-626-202-2689</span></a>
			</p>
		</section>
	</div>
</SiteLayout>
