---
const pageTitle = 'Contact'
import '../styles/global.css'
import SiteLayout from '../layouts/SiteLayout.astro'
import { Image } from 'astro:assets'
import xiaoling from '../media/xiaoling.jpeg'
---

<SiteLayout pageTitle={pageTitle}>
	<div class="basic-grid">
		<Image class="contact-image" src={xiaoling} alt="Asian woman wearing a mask" />
		<section class="contact-section">
			<div data-lang-key="contact-h1" class="contact-header">Contact Information</div>
			<p class="contact-email-data">
				<span data-lang-key="contact-email" class="contact-email-label">Email:</span>
				<a href="mailto:dream_home_reno@gmail.com?subject=Renovation%20Inquiry"
					><span class="contact-email-address">dream_home_reno@gmail.com</span></a
				>
			</p>
			<p class="contact-phone-data">
				<span data-lang-key="contact-phone" class="contact-phone-label">Phone:</span>
				<a href="tel:+1-626-693-7649"><span class="contact-phone-number">1-626-693-7649</span></a>
			</p>
		</section>
	</div>
</SiteLayout>
