---
const pageTitle = 'Gallery'
import SiteLayout from '../layouts/SiteLayout.astro'
import '../styles/global.css'

import { getCollection } from 'astro:content'
import PostCard from '../components/PostCard.astro'
const posts = await getCollection('posts')
const movies = await getCollection('movies')
---

<SiteLayout pageTitle={pageTitle}>
	<div class="gallery-top mt-8 bg-boxgreen p-8">
		<h1 data-lang-key="gallery-h1" class="mb-4 mt-4 text-4xl font-semibold sm:text-3xl"></h1>
		<p data-lang-key="gallery-subheading" class="pb-8 text-xl sm:text-lg"></p>
	</div>

	<div class="gallery-grid">
		{posts.map((post) => <PostCard post={post} />)}
	</div>

	<div class="video-info">
		<h2 data-lang-key="gallery-movie-h2" class="video-header">Movies</h2>
		<p data-lang-key="gallery-movie-subhead" class="video-subheader">
			Here are some videos of our work.
		</p>
	</div>

	<div class="movie-wrapper">
		{
			movies.map((movie) => (
				<div class="video-container">
					<video controls>
						<source src={movie.data.movie} type="video/mp4" />
						Your browser does not support the video tag.
					</video>
				</div>
			))
		}
	</div>
</SiteLayout>

<style>
	.movie-wrapper {
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding: 1rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;
		background: var(--boxgreen);
	}

	.video-container {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: auto;
	}
</style>
