---
import '../styles/global.css'
import SiteLayout from '../layouts/SiteLayout.astro'
import { Image } from 'astro:assets'
const pageTitle = 'Videos'
---

<SiteLayout pageTitle="pageTitle">
	<h1 class="text-9xl">Hello, World!</h1>
</SiteLayout>
