---

---

<footer class="mb-9 mt-1 bg-slate-300 p-9 text-center">
	<div data-lang-key="hype" class="text-xl">Quality Work. Good Prices</div>
	<p>Wylie, TX 75908</p>
	<p>626-693-7649</p>
	<p data-lang-key="company-copyright">© Dream Home Renovation LLC</p>
</footer>
