<button  transition:persist class="scroll">
	<svg
		fill="#fff"
		height="30px"
		width="30px"
		version="1.1"
		id="Layer_1"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		viewBox="0 0 330 330"
		xml:space="preserve"
	>
		<path
			id="XMLID_224_"
			d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
	l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
	C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"
		></path>
	</svg>
</button>

<style>

    .scroll{
        display: none;
    }

    
	.scroll.active {
		display: block;
		position: fixed;
		bottom: 20px;
		right: 20px;
		background: #7E7B34;
		color: #fff;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 10px;
		border-radius: 50%;
		font-size: 20px;
		z-index: 1000;
		transition: all 0.3s ease-in-out;
	}

	.scroll:hover {
		background: rgba(0, 0, 0, 0.5);
		color: #000;
	}
</style>

<script>
    const scrollButton = document.querySelector('.scroll');

    window.addEventListener('scroll', () => {
        if (window.scrollY> 100) {
            scrollButton.classList.add('active');
        } else {
            scrollButton.classList.remove('active');
        }
    });

    scrollButton.addEventListener('click', () => {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    });

</script>
