---
import Footer from '../components/Footer.astro'
import ScrollToTopButton from '../components/ScrollToTopButton.astro'
import { ViewTransitions } from 'astro:transitions'
import '../styles/global.css'
import Hamburger from '../components/Hamburger.astro'

const { pageTitle } = Astro.props
---

<html transition:animate="none" lang="en">
	<head>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{pageTitle}</title>
		<ViewTransitions />
	</head>
	<body>
		<Hamburger />
		<!-- <Navigation /> -->
		<ScrollToTopButton />
		<article transition:animate="slide">
			<slot />
			<!-- your content is injected here -->
		</article>
		<Footer />
		<script src="../scripts/translation-scripts.ts">
		</script>
		<script src="../scripts/currentPage.ts"></script>
	</body>
</html>
